<div class="tabs container-fluid">
  <mat-tab-group mat-stretch-tabs class="mat-elevation-z4">
    <mat-tab label="About Me">
      <div class="aboutme">
        <img
          src="../../assets/img/profile_picture.jpg"
          class="img-fluid rounded profile_picture"
          alt="Profile_photo"
        />
        <p>
          I am an enthusiast and technology fan. I recently graduated in
          computer networks, but a few years ago my passion for programming
          began. Currently everything I have learned has been self-employed,
          nowadays i'm studing Data science. In addition, i have basic knowledge
          in both analog and digital electronics and is one of my biggest
          hobbies, in turn, I have knowledge in microcontroller programming,
          such as: Arduino, open-source FPGA, and electronic circuits creation.
          Additionally, I have knowledge in databases, Object-oriented
          programming (OOP), computer and CPU architecture and a little bit of
          web developing.
        </p>
      </div>
    </mat-tab>

    <mat-tab label="Skills">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <h3 class="bar-title">Web Development</h3>
            <div class="progress">
              <div
                class="progress-bar bar-style"
                role="progressbar"
                style="width: 79%;"
                aria-valuenow="79"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                79%
              </div>
            </div>
          </div>

          <div class="col-6">
            <h3 class="bar-title">Networking</h3>
            <div class="progress">
              <div
                class="progress-bar bar-style"
                role="progressbar"
                style="width: 73%;"
                aria-valuenow="73"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                73%
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-6">
            <h3 class="bar-title">Python</h3>
            <div class="progress">
              <div
                class="progress-bar bar-style"
                role="progressbar"
                style="width: 40%;"
                aria-valuenow="40"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                40%
              </div>
            </div>
          </div>

          <div class="col-6">
            <h3 class="bar-title">Databases</h3>
            <div class="progress">
              <div
                class="progress-bar bar-style"
                role="progressbar"
                style="width: 70%;"
                aria-valuenow="70"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                70%
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-6">
            <h3 class="bar-title">Javascript</h3>
            <div class="progress">
              <div
                class="progress-bar bar-style"
                role="progressbar"
                style="width: 32%;"
                aria-valuenow="32"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                32%
              </div>
            </div>
          </div>

          <div class="col-6">
            <h3 class="bar-title">Electronics</h3>
            <div class="progress">
              <div
                class="progress-bar bar-style"
                role="progressbar"
                style="width: 60%;"
                aria-valuenow="60"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                60%
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-6">
            <h3 class="bar-title">Batch/Bash scripting</h3>
            <div class="progress">
              <div
                class="progress-bar bar-style"
                role="progressbar"
                style="width: 60%;"
                aria-valuenow="60"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                60%
              </div>
            </div>
          </div>

          <div class="col-6">
            <h3 class="bar-title">Data science</h3>
            <div class="progress">
              <div
                class="progress-bar bar-style"
                role="progressbar"
                style="width: 10%;"
                aria-valuenow="10"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                10%
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />
    </mat-tab>
  </mat-tab-group>
</div>
