.tabs {
  margin: auto;
  width: 95%;
  margin-top: 6.25rem;
}

.aboutme {
  margin: auto;
  width: 66%;
  padding-top: 10px;
}

.profile_picture {
  float: left;
  height: 12rem;
  width: 12rem;
  margin-right: 0.625rem;
}

.bar-style {
  background-color: #687681;
}

.bar-title {
  margin-top: 1rem;
}
