<div class="container-fluid">
  <div class="row">
    <mat-card class="col-3 container-fluid">
      <mat-card-header>
        <mat-card-title>SmartColors!</mat-card-title>
        <mat-card-subtitle>12/2016 - Today</mat-card-subtitle>
      </mat-card-header>
      <img
        class="image"
        mat-card-image
        src="../../assets/img/SmartColors_logo.webp"
      />
      <mat-card-content>
        This project is about a device that has the ability to scan the color of
        a surface and show to the user the color name of that surface. This is
        done in order to help people suffering from color blindness to develop
        in a world guided by colors.
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>
          <a href="https://github.com/GaboLC/SmartColors" target="_blank">
            See more
          </a>
        </button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="col-3 container-fluid">
      <mat-card-header>
        <mat-card-title>SmartColors!</mat-card-title>
        <mat-card-subtitle>11/2016 - Today</mat-card-subtitle>
      </mat-card-header>
      <img
        class="image"
        mat-card-image
        src="../../assets/img/SmartColors_logo.webp"
      />
      <mat-card-content>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit ex vero et
        soluta nulla alias sit, perferendis possimus tempora quidem placeat
        tempore quae mollitia delectus provident, numquam beatae pariatur atque.
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>See more</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<!-- <mat-card>
  <mat-card-header>
    <mat-card-title>Proyect 1</mat-card-title>
    <mat-card-subtitle>2016 - Today</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="http://lorempixel.com/200/200/technics"
    style="width: auto; height: auto;"
  />
  <mat-card-content>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit ex vero et
    soluta nulla alias sit, perferendis possimus tempora quidem placeat tempore
    quae mollitia delectus provident, numquam beatae pariatur atque.
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>See more</button>
  </mat-card-actions>
</mat-card> -->
