<div class="container py-2">
  <hr />

  <div class="container py-2">
    <!-- timeline item 1 -->
    <div class="row no-gutters">
      <div class="col-sm"><!--spacer--></div>
      <!-- timeline item 1 center dot -->
      <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
        <div class="row h-50">
          <div class="col">&nbsp;</div>
          <div class="col">&nbsp;</div>
        </div>
        <h5 class="m-2">
          <span class="badge badge-pill bg-light border">&nbsp;</span>
        </h5>
        <div class="row h-50">
          <div class="col border-right">&nbsp;</div>
          <div class="col">&nbsp;</div>
        </div>
      </div>
      <!-- timeline item 1 event content -->
      <div class="col-sm py-2">
        <div class="card shadow">
          <div class="card-body">
            <div class="float-right text-muted small">April 2020 - Today</div>
            <h4 class="card-title text-muted">Intel Student</h4>
            <p class="card-text">
              Student worker at intel as Sofware developer.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--/row-->

    <!-- item 2 -->
    <div class="row no-gutters">
      <div class="col-sm py-2">
        <div class="card shadow">
          <div class="card-body">
            <div class="float-right small">
              January 2020 - Today
            </div>
            <h4 class="card-title">Data Science student</h4>
            <p class="card-text">
              Studing Data Science in
              <a
                href="https://ulead.ac.cr/es/carreras/bachilleratos/bachillerato-ingenieria-en-ciencia-de-datos"
                target="_blank"
                >Lead University.
              </a>
              <!-- Put link in Lead University-->
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
        <div class="row h-50">
          <div class="col border-right">&nbsp;</div>
          <div class="col">&nbsp;</div>
        </div>
        <h5 class="m-2">
          <span class="badge badge-pill bg-light border">&nbsp;</span>
        </h5>
        <div class="row h-50">
          <div class="col border-right">&nbsp;</div>
          <div class="col">&nbsp;</div>
        </div>
      </div>
      <div class="col-sm"><!--spacer--></div>
    </div>
    <!--/row-->

    <!-- item 3 -->
    <div class="row no-gutters">
      <div class="col-sm"><!--spacer--></div>
      <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
        <div class="row h-50">
          <div class="col border-right">&nbsp;</div>
          <div class="col">&nbsp;</div>
        </div>
        <h5 class="m-2">
          <span class="badge badge-pill bg-light border">&nbsp;</span>
        </h5>
        <div class="row h-50">
          <div class="col border-right">&nbsp;</div>
          <div class="col">&nbsp;</div>
        </div>
      </div>
      <div class="col-sm py-2">
        <div class="card shadow">
          <div class="card-body">
            <div class="float-right text-muted small">
              October 2019 - March 2020
            </div>
            <h4 class="card-title">Intern at Intel</h4>
            <p>Internship experience at Intel Costa Rica.</p>
          </div>
        </div>
      </div>
    </div>
    <!--/row-->

    <!-- item 4 -->
    <div class="row no-gutters">
      <div class="col-sm py-2">
        <div class="card shadow">
          <div class="card-body">
            <div class="float-right text-muted small">
              February 2016 - December 2019
            </div>
            <h4 class="card-title">Network Technician</h4>
            <p>
              Got a specialization in network computing.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
        <div class="row h-50">
          <div class="col border-right">&nbsp;</div>
          <div class="col">&nbsp;</div>
        </div>
        <h5 class="m-2">
          <span class="badge badge-pill bg-light border">&nbsp;</span>
        </h5>
        <div class="row h-50">
          <div class="col">&nbsp;</div>
          <div class="col">&nbsp;</div>
        </div>
      </div>
      <div class="col-sm"><!--spacer--></div>
    </div>
    <!--/row-->
  </div>
</div>
